<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="icon" href="ico.png" type="image/gif" />
  <link rel="stylesheet" href="sty.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiar">
    <div class="container-fluid">
      <a class="navbar-brand text-warning fw-bold" href="#">Auto Dealers</a>
      <button class="btn btn-outline-secondary d-lg-none" id="sidebarToggle">
        ☰
      </button>
    </div>
  </nav>
  <nav class="navbar  flex-column p-3 sidebar" id="sidebar">
    <a class="navbar-brand mb-4" href="index.html">Home</a>
    <ul class="navbar-nav flex-column w-100 main-links">
      <li class="nav-item"><a class="nav-link" href="dashboard.html">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
      <li class="nav-item"><a class="nav-link" href="purchases.html">Purchases</a></li>
      <li class="nav-item"><a class="nav-link" href="sales.html">Sales</a></li>
    </ul>
    <ul class="navbar-nav flex-column w-100 logout-link">
      <li class="nav-item mt-auto"><a class=""> <button id="logoutBtn" class="btn btn-outline-danger" type="submit"
            @click="logout">Logout</button></a></li>
    </ul>
  </nav>
  <main>
    <div id="app" class="container text-center mt-5">
      <h1 class="text-white">Purchases Page</h1>
      <button type="button" class="btn btn-outline-warning mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Purchase Car
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabIndex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Car Details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addPurchase">
                

                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01">Car Name</label>
                  <select class="form-select" id="inputGroupSelect01" v-model="product_id" required>
                    <option disabled value="">Select</option>
                    <option v-for="z in infoz" :key="z.id" :value="z.id">{{z.name}}</option>
                  </select>
                </div>


                <input type="number" v-model="quantity" class="form-control mb-3" placeholder="Quantity" required>
                <button type="submit" class="btn btn-outline-primary">Purchase</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Purchased On</th>
            <th>Updated At</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="purs in purchases">
            <td>{{purs["product_id"]}}</td>
            <td>{{purs["quantity"]}}</td>
            <td>{{purs["created_at"]}}</td>
            <td>{{purs["updated_at"]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <p class="mb-0">&copy; 2025 The Mall</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.0/axios.js"></script>
  <script> new Vue({
      el: "#app",
      data: {
        infoz: [],
        purchases: [],
        product_id: "",
        quantity: ""
      },
      methods: {
        async productList() {
          try {
            const headers = { headers: { Authorization: `Bearer ${localStorage.getItem("token")}` } };
            const list = await axios.get("http://127.0.0.1:5000/api/products", headers);
            this.infoz = list.data;
          } catch (error) {
            console.error("Error fetching products:", error);
          }
        },
        async getPurchases() {
          try {
            const headers = {
              headers: { Authorization: `Bearer ${localStorage.getItem("token")}` }
            };
            const response = await axios.get("http://127.0.0.1:5000/api/purchases", headers);
            this.purchases = response.data;
          } catch (error) {
            console.error("Error fetching purchases:", error);
            alert("Failed to fetch purchases!");
          }
        },
        async addPurchase() {
          try {
            const headers = {
              headers: { Authorization: `Bearer ${localStorage.getItem("token")}` }
            };
            const newPurchase = {
              product_id: Number(this.product_id),
              quantity: Number(this.quantity)
            };
            await axios.post("http://127.0.0.1:5000/api/purchases", newPurchase, headers);
            alert("Purchase added successfully!");
            this.product_id = "";
            this.quantity = "";
            this.getPurchases();
          } catch (error) {
            console.error("Error adding purchase:", error);
            alert("Failed to add purchase!");
          }
        }
      },
      mounted() {
        if (localStorage.getItem("token") != null) {
          this.getPurchases();
          this.productList();
        } else {
          window.location.href = "login.html";
        }
      }
    });</script>
  <script>
    const logoutBtn = document.getElementById('logoutBtn');
    const sidebar = document.getElementById('sidebar');
    const toggleBtn = document.getElementById('sidebarToggle');
    toggleBtn.addEventListener('click', () => {
      sidebar.classList.toggle('show');
    });
    logoutBtn.addEventListener('click', () => {
      localStorage.removeItem("token");
      window.location.href = "login.html";
    });
    window.addEventListener('scroll', function () {
      const scrollTop = window.pageYOffset;
      document.body.style.backgroundPosition = `center ${scrollTop * 0.5}px`;
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
    integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
    crossorigin="anonymous"></script>

<!-- 
  <div>
    <form action="/edited_prod" method="POST">
      <div class="mb-3">
        <input type="hidden" value="{{product[0]}}" name="id" />
        <label for="" class="form-label">Product Name</label>
        <input type="Text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name1"
          value="{{product[1]}}" />

        <label for="" class="form-label">Buying Price</label><br />
        <input type="" value="{{product[2]}}" name="name2" disabled /><br /><br />
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name2"
          value="{{product[2]}}" />
        <label for="" class="form-label">Selling Price</label><br />
        <input type="" value="{{product[3]}}" name="name3" disabled /><br /><br />
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name3"
          value="{{product[3]}}" />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          Edit
        </button>
      </div>
    </form>
  </div> -->
</body>

</html>