body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-image: url('image1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
}

nav.navbar.bg-body-tertiar {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background-color: #0A0A0A;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
  flex-shrink: 0;
  position: fixed;
  top: 56px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1040;
}

.sidebar .navbar-brand {
  color: #ffc107;
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar .main-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.sidebar .logout-link {
  margin-top: auto;
}

.sidebar .nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  display: block;
}

.sidebar .nav-link:hover {
  background-color: #ffc107;
  /* color: #ffc107; */
}

.sidebar .nav-link.active {
  background-color: #ffc107;
  color: #343a40;
}

main {
  margin-top: 56px;
  margin-left: 250px;
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  min-height: calc(100vh - 56px);
}

footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0;
}

@media (max-width: 992px) {
  .sidebar {
    left: -250px;
  }

  .sidebar.show {
    left: 0;
  }

  main {
    margin-left: 0;
  }
}